body                                                { background: white; }
header                                              { background: white; padding: 1vh 0; text-align: left; }
input 												{ height:30px !important; }
input[type=checkbox]								{ height:30px !important; margin-top:-3px !important; margin-right:5px !important; box-shadow:none; background-color:#ffffff; position:relative !important; }
textarea											{ width: 66%; margin: 0 auto; display: block; }
input[type=radio]									{ height:30px !important; margin-top:-3px !important; margin-right:5px !important; box-shadow:none; background-color:#ffffff; position:relative !important; }
.form-group input, .form-group select 				{ height:30px; padding: 0px 12px; }
.form-horizontal .form-group						{ margin:10px; }
.formContainer .formControlLabel 					{ width:auto !important; min-width:150px; margin:0; padding:0; }
.formControls										{ width:100%; padding:0; margin: 10px 0 20px auto; }
.radio 												{ padding-top:0 !important; padding-left:8px !important; }
.radio-inline										{ margin-right:10px; padding-top:0 !important; display:inline; }
.bold												{ font-weight:bold; }
.italic 											{ font-style:italic; }
.clear					 							{ width:100%; margin:0 !important; }
.rsform-block-submit 								{ display:none; }
.show 												{ display: block !important; }
#submit												{ margin:0 auto; display:block; }

/* QUIZ STYLES */
ol,ul 												{ list-style:none; }
strong 												{ font-weight:700; }
#frame 												{ width:auto; max-width: 800px; background:transparent; margin:3px auto; padding:10px; color:#333 !important; }
div#frame h2 										{ width:auto; border-bottom:1px solid #bdbdbd; padding:0 0 5px 0; font-size:25px; }
h3.question 										{ font-weight:normal; margin:15px 0; padding:0; font-style:normal; display:block; color: rgba(0, 46, 102, 0.8); font-size: 20px;}
h3.questionFin 										{ font-weight:normal; margin:25px 0; padding:0; font-style:normal; display:block; color: black; font-size: 25px;}
p.pager 											{ margin:5px 0 5px; color:#999; text-align:right; }
.qnumber 											{ font-size:20px; font-weight:bold; font-style:italic; vertical-align:bottom; }
.number 											{ font-size:20px; font-weight:bold; font-style:normal; vertical-align:inherit; padding-right:10px; }
.score 												{ width:100%; display:inline-block; margin:25px 0; font-size:50px; text-align:center; }
img.question-image 									{ width:100%; height:auto; display:block; max-width:100px; margin:5px auto; border:1px solid #ccc; }
#choice-block 										{ display:block; list-style:none; margin:0; padding:0; cursor: pointer; }
#explanation 										{ width:auto; min-height:100px; margin:0 auto; padding:15px 0; text-align:center; }
#explanation span 									{ font-weight:bold; padding-right:8px; }
.choice-box 										{ width:100%;  display:block;  text-align:center;  margin:5px auto !important; padding:10px 0 !important; border:1px solid #bdbdbd; }
.correct 											{ color:#51a351; font-size: 20px; display: block; margin-bottom: 5px; border-bottom: 1px #51a351 solid; padding-bottom: 5px; }
.incorrect 											{ color:#f93939; font-size: 20px; display: block; margin-bottom: 5px; border-bottom: 1px #f93939 solid; padding-bottom: 5px; }
footer                                              { background: rgba(0, 46, 102, 0.8); color: white; padding: 3vh 0; text-align: center; position: absolute; width: 100%; bottom: 0 }
/*video                                               { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; opacity: 0.5 }*/
video                                               { min-width: 100%;  min-height: 100%; width: auto;  height: auto; position: fixed;  top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);  z-index: -100; background-size: cover; opacity: 0.1; }
